@import url("/css/connect-form.css");
@import url("/css/edit-card.css");

html { height: 100%; }

body {
    background-color: #FFF;
    background-image: linear-gradient(#FFF 30%, #21007F);
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

body > header {
    background-color: #2f3133;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #111;
    box-shadow: 0px 2px 5px #222;
}
    body > header .logo {
        flex-basis: 180px;
        width: 180px;
        padding: 10px 20px;
    }

#blanks_game {
    background-color: #fff;
    padding-top: 150px;
    border-radius: 10px;
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center 20px;
    padding-bottom: 40px;
}
@media (max-width: 380px) {
    #blanks_game {
        background-size: calc(100% - 20px);
        padding-top: 35vw;
    }
}

#game_window {
    max-width: 1200px;
    margin: 0 auto;
}

#game_config_form, #awaiting_game_start {
    display: flex;
}
#awaiting_game_start #connected_users,
#awaiting_game_start .waiting_panel  {
    flex-basis: 50%;
}

#game_options {
    width: 100%;
    margin: 0 20px;
}
#game_options label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
#game_options select {
    margin-bottom: 20px;
}
#game_options .card-pack-selection {
    margin-top: 20px;
    margin-bottom: 20px;
}
#game_options .card-pack-selection label {
    font-weight: normal;
    display: inline-block;
}
#connected_users {
    width: 100%;
}

*:first-child {
    margin-top: 0;
}

p.error {
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(224, 44, 44);
}


#player_card_submissions {
    display: flex;
}
#player_card_submissions .selectable-wrapper {
    width: 12.5%;
    display: flex;
    align-items: flex-end;
    flex-basis: 25%;
    cursor: pointer;
    border: 5px solid transparent;
}
#player_card_submissions .selectable-wrapper:hover {
    border-color: #eee;
}

#player_card_submissions .selectable-wrapper.active {
    border: 5px solid blue;
}
#player_card_submissions .selectable-wrapper.winner {
    border: 5px solid green;
}
#player_card_submissions .selectable-wrapper.active:hover {
    border: 5px solid blue;
}
#player_card_submissions .selectable-wrapper.winner:hover {
    border: 5px solid green;
}

@media (max-width:960px) { #player_card_submissions .selectable-wrapper { width: 50%; } }
@media (max-width:600px) { #player_card_submissions .selectable-wrapper { width: 100%; } }

button.big,
#player_submissions button {
    padding: 15px 0;
    width: 300px;
    font-size: 18px;
    display: block;
    margin: 20px auto;
}


#player_hand {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
}
#player_hand .form-element {
    flex: 1 0 18%;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    border: 2px dashed #ddd;
    margin: 20px;
    padding: 15px;
}
@media (max-width:800px) { #player_hand .form-element { flex-basis: 40%; } }
@media (max-width:400px) { #player_hand .form-element { flex-basis: 100%; } }

.card {
    background-color: white;
    min-height: 200px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    user-select: none;
    vertical-align: bottom;
    border-radius: 8px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px #555;
    text-align: left;
    transition: transform .3s;
    margin: 0;
}
#player_hand .card {
    cursor: grab;
}
#player_hand .card:active {
    cursor: grabbing;
}
#player_hand .card:hover {
    transform: scale(1.1);
}

button {
    background-color: #21007F;
    color: #fff;
    border-radius: 3px;
    padding: 8px 14px;
    display: inline-block;
    border: 0;
    cursor: pointer;
}
button:hover {
    background-color: rgb(57, 9, 187);
}
button:disabled {
    background-color: #e0e0e0;
    color: #888;
}

button.secondary {
    background-color: rgb(25, 13, 58);
}
button.secondary:hover {
    background-color: rgb(49, 24, 119);
}

input[type=radio] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 20px;
}
input[type=radio]:before {
    position: absolute;
    content: attr(data-cardnum);
    background-color: rgb(13, 138, 65);
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    display: none;
    font-family: monospace;
    font-weight: bold;
}
input[type=radio]:checked:before {
    display: block;
}

.player-card {
    background-color: #f6f6f6;
    padding: 20px;
    min-height: 90px;
    margin-bottom: 20px;
    width: 32%;
    margin-right: 2%;
    display: inline-block;
    box-sizing: border-box;
}
    .player-card:last-child {
        margin-right: 0;
    }
    .player-card img {
        float: left;
        height: 90px;
        width: 90px;
        margin-right: 20px;
    }
    .player-card h4 {
        margin-bottom: 0;
    }
    .player-card p {
        margin-top: 0;
    }
    .player-card .score {
        font-size: 2em;
        float: right;
        padding: 20px;
    }
    .player-card.player-ready {
        background-color: rgb(106, 190, 106);
    }
    .round-winner-label {
        text-align: center;
        background-color: rgb(106, 190, 106);
        padding: 20px;
        font-size: 1.8em;
        font-weight: normal;
    }
    
.round-timer {
    font-size: 1.2em;
    padding:20px;
    margin-bottom: 20px;
    background-color: #f6f6f6;
}

#leaderboard .player-card h3 {
    font-size: 1.6em;
}
#leaderboard .player-card:first-child {
    background-color: gold;
}

.winner-text {
    text-align: center;
    background-color: #f6f6f6;
    padding: 20px;
    font-size: 1.2em;
    font-weight: normal;
}

.custom-text-wrapper,
.custom-image.wrapper {
    padding: 10px;
}
.custom-text-wrapper textarea {
    resize: vertical;
    width: 100%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    height: 140px;
}
.card-type-select {
    margin-bottom: 10px;
}

/* Dropzones and question card */
#in_play {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    border: 2px solid #21007F;
    background-color: rgb(241, 235, 255);
    border-radius: 20px;
    padding: 10px;
}
#question_card {
    background-color: #222;
    font-size: 1.2em;
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 3px;
    flex: 1 0;
    box-sizing: border-box;
}

.card-dropzone {
    border: 5px dashed grey;
    padding: 15px;
    box-sizing: border-box;
    min-height: 200px;
    margin-bottom: 10px;
    background-image: url('/images/drag.png');
    background-position: center;
    background-repeat: no-repeat;
}
.card-no-dropzone {
    border: 5px dashed grey;
    background-color: #ccc;
    flex: 1 0;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px;
    min-height: 200px;
}
.input-wrapper {
    flex: 1 0;
    margin: 10px;
}

.card-no-dropzone, #question_card, .input-wrapper { flex-basis: 20%; }
@media (max-width:700px) { #in_play { flex-wrap: wrap; } .input-wrapper, .card-no-dropzone, #question_card { flex-basis: 40%; } }
@media (max-width:400px) { .input-wrapper, .card-no-dropzone, #question_card { width: 100%; margin: 0; } }

.card-dropzone.ui-droppable-hover,
.form-element.ui-droppable-hover {
    background-color: yellow;
}
.card-dropzone.ui-droppable-disabled {
    background-color: green;
}
.card-dropzone.invalid {
    background-color: red;
}