@import url("/css/connect-form.css");

html { height: 100%; }

body {
    background-color: #FFF;
    background-image: linear-gradient(#FFF 30%, #21007F);
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

body > header {
    background-color: #2f3133;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #111;
    box-shadow: 0px 2px 5px #222;
}
    body > header .logo {
        flex-basis: 180px;
        width: 180px;
        padding: 10px 20px;
    }

#blanks_game {
    background-color: #fff;
    padding-top: 150px;
    border-radius: 10px;
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center 20px;
    padding-bottom: 40px;
}
@media (max-width: 380px) {
    #blanks_game {
        background-size: calc(100% - 20px);
        padding-top: 35vw;
    }
}

#game_config_form {
    display: flex;
}
#game_options {
    width: 100%;
}
#game_options label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
#game_options select {
    margin-bottom: 20px;
}
#connected_users {
    width: 100%;
}

*:first-child {
    margin-top: 0;
}

p.error {
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(224, 44, 44);
}

#question_card {
    background-color: #222;
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 3px;
    margin: 0 20px 20px 20px;
}

#player_hand {
    margin: 0 20px 20px 20px;
}

#player_card_submissions .form-element {
    width: 12.5%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

@media (max-width:1600px) { #player_card_submissions .form-element { width: 20%; } }
@media (max-width:1400px) { #player_card_submissions .form-element { width: 25%; } }
@media (max-width:960px) { #player_card_submissions .form-element { width: 33.3333%; } }
@media (max-width:700px) { #player_card_submissions .form-element { width: 50%; } }
@media (max-width:400px) { #player_card_submissions .form-element { width: 100%; } }

#player_hand button,
#player_submissions button {
    padding: 15px 0;
    width: 300px;
    font-size: 18px;
    display: block;
    margin: 20px auto;
}

.card {
    background-color: white;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    user-select: none;
    vertical-align: top;
    border-radius: 8px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px #555;
    text-align: left;
}
    .card.active {
        border: 5px solid blue;
    }
    .card.winner {
        border: 5px solid green;
    }

button {
    background-color: #21007F;
    color: #fff;
    border-radius: 3px;
    padding: 8px 14px;
    display: inline-block;
    border: 0;
    cursor: pointer;
}
button:hover {
    background-color: rgb(57, 9, 187);
}
button:disabled {
    background-color: #e0e0e0;
    color: #888;
}
input[type=radio] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 20px;
}
input[type=radio]:before {
    position: absolute;
    content: attr(data-cardnum);
    background-color: rgb(13, 138, 65);
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    display: none;
    font-family: monospace;
    font-weight: bold;
}
input[type=radio]:checked:before {
    display: block;
}

.player-card {
    background-color: #f6f6f6;
    padding: 20px;
    min-height: 90px;
    margin-bottom: 20px;
    width: 32%;
    margin-right: 2%;
    display: inline-block;
    box-sizing: border-box;
}
.player-card:last-child {
    margin-right: 0;
}
.player-card img {
    float: left;
    height: 90px;
    width: 90px;
    margin-right: 20px;
}
.player-card h4 {
    margin-bottom: 0;
}
.player-card p {
    margin-top: 0;
}
.player-card.player-ready {
    background-color: rgb(106, 190, 106);
}